.task-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 482px) {
  .task-form {
    display: block;
  }
}

.task-form input {
  margin: 10px;
  width: 95%;
  border: none;
  outline: none;
  padding: 16px;
  border-radius: 10px;
  box-shadow: inset 10px 10px 24px #d9d9d9, inset -10px -10px 24px #ffffff;
  font-size: 1rem;
  color: #2f2a3b;
  font-weight: bold;
}

.btn-start {
  background: #474755;
  color: #ffffff;
  font-size: 1rem;
  min-width: 75px;
  width: 100px;
  height: 50px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.btn-start:hover {
  background-color: #2f2a3b;
}
.btn-start:active {
  box-shadow: inset 8px 8px 25px #1f1b26, inset -8px -8px 25px #3f3950;
}

.btn-stop {
  background: #b0423ee5;
  color: #ffffff;
  font-size: 1rem;
  min-width: 75px;
  width: 100px;
  height: 50px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.btn-stop:hover {
  background-color: #ac403c;
}
.btn-stop:active {
  box-shadow: inset 8px 8px 25px #993936, inset -8px -8px 25px #c74b46;
}

.task-form span {
  font-size: 1.2rem;
  margin: 10px;
  color: #2f2a3b;
}

.input-container {
  width: 98%;
  padding-top: 10px;
  border-radius: 0px 0px 10px 10px;
  background: #a3a2a2;
  box-shadow: 8px 8px 29px #6f6e6e, -8px -8px 29px #d7d6d6;
}

.list-container {
  width: 98%;
  height: 75vh;
  background-color: #ebf3f3;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: -6px -6px 47px #a4abab, 6px 6px 47px #ffffff;
  overflow: scroll;
  overflow-x: hidden;
}

.TaskCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #b8b7b847;
  color: #111;
  border-bottom: 1px solid #11111140;
  padding: 15px;
  /* margin: 0px 10px 0px 10px; */
  /* border-radius: 10px; */
}
.TaskCard input {
  width: 28rem;
}

@media (max-width: 991.98px) {
  .TaskCard {
    display: block;
  }
  .TaskCard input {
    width: 100%;
  }
}

.TaskCard:hover {
  background: #b8b7b8bd;
}
.TaskCard-focus {
  background: #b8b7b8bd;
}
.task-tool {
  font-size: 24px;
  padding: 5px;
  display: flex;
}
.task-field {
  padding: 5px;
  border: none;
  outline: none;
  background: none;
  border: 1px solid transparent;
}
.task-field:hover {
  border: 1px solid rgba(17, 17, 17, 0.377);
  border-radius: 5px;
}
.task-field:focus {
  border: 1px solid rgba(17, 17, 17, 0.377);
  border-radius: 5px;
}

.duration {
  padding-left: 20px;
}
