@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&family=Pattaya&display=swap');

.login {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-items: center;
  align-content: center;
  background: #c9c7c9;
}
.login span {
  font-family: 'Pattaya', sans-serif;
  font-size: 2.5rem;
  color: #474755;
  font-weight: bold;
  padding: 10px;
}

.login h1 {
  font-size: 1.5rem;
  color: #c9c7c99f;
  padding-bottom: 25px;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  flex-direction: column;
  background: #474755;
  padding: 45px;
  margin: 10px;
  border-radius: 10px;
}
.loginButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 28px;
  font-size: 1rem;
  color: #111;
  background: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.loginButton img {
  width: 32px;
  height: 32px;
  padding-right: 15px;
}
