.tracker {
  padding-top: 60px;
}

@media (min-width: 991.98px) {
  .tracker {
    margin-left: 12.5rem;
  }
}

.input-container {
  width: 98%;
  padding-top: 10px;
  border-radius: 0px 0px 10px 10px;
  background: #393e46;
  box-shadow: 8px 8px 21px #2c3036, -8px -8px 21px #5a606a;
  /* position: fixed; */
  /* width: inherit; */
  z-index: 1;
}
