.home {
  width: 100%;
  font-size: 3rem;
  display: flex;
  justify-content: center;
}
.home input {
  margin-top: 70px;
  width: 800px;
  height: 70px;
}

@media (min-width: 991.98px) {
  .home input {
    margin-left: 13rem;
  }
}
