@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&family=Pattaya&display=swap');

.navbar {
  position: fixed;
  width: 100vw;
  padding: 10px;
  background-color: #676064;
  color: white;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: -15px 15px 10px -15px #111;
  z-index: 2;
}

.logo span {
  padding-left: 1rem;
  font-size: 2rem;
  font-family: 'Pattaya', sans-serif;
}
.bar {
  color: #fff;
}

@media (min-width: 991.98px) {
  .bar {
    display: none;
  }
}

.nav-menu {
  background-color: #8d878c;
  width: 200px;
  height: 100vh;
  justify-content: center;
  left: -100%;
  position: fixed;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  padding: 22px;
  list-style: none;
  height: 2rem;
}

.nav-text a {
  text-decoration: none;
  color: #eeeeee;
  font-size: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 8px 36px;
  border-radius: 4px;
}
.nav-text a:hover {
  background-color: #4a4249;
}
.nav-text a:focus {
  background-color: #4a4249;
}
.nav-menu-items {
  margin-top: 3.3rem;
  padding: 0;
}
.nav-menu-items span {
  padding-left: 15px;
}

@media (min-width: 991.98px) {
  .nav-menu {
    left: 0;
  }
}

.list {
  display: flex;
  list-style: none;
  text-decoration: none;
  font-size: 1rem;
  align-items: center;
}
.logout-container ul {
  margin: 0;
}
.listItem {
  margin-right: 20px;
  cursor: pointer;
}
.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

/* Bootstrap dropdown */
.btn-primary {
  background: none;
  border: none;
}
.btn-primary:hover {
  background: none;
}
.show > .btn-primary.dropdown-toggle {
  background: none;
  border: none;
}
.btn-primary:focus {
  border: none;
  background: none;
  box-shadow: none;
}
.btn-check:active + .btn-primary:focus,
.btn-check:checked + .btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}
.dropdown-item:active {
  background: none;
}
.dropdown-toggle::after {
  display: none;
}
